@media screen and (max-width: 1366px) {
  .app-main {
    padding: 2em 5px;
    padding-top: 50px;
    padding-bottom: 0;
  }

  .todo-form.ant-form-inline .ant-form-item,
  .ant-calendar-picker {
    width: 30%;
    margin-bottom: 5px;
  }

  .w5d-modal-media-library .ant-modal .upload-list-inline .ant-upload-list-item {
    float: left;
    width: 19%;
    height: 150px;
    margin-right: 8px;
    overflow: hidden;
    padding-bottom: 10px;
  }

  .w5d-modal-media-library .ant-modal .ant-upload-list-picture .ant-upload-list-item-info {
    height: 130px;
    overflow: hidden;
  }

  .app-content .body-content {
    padding: 5px;
  }

  .w5d-list .ant-list-item .ant-col, .w5d-list .ant-list-header .ant-col, .w5d-list .ant-list-footer .ant-col {
    padding: 0 8px;
    font-size: 15px;
  }

  .cate-form-block form {
    padding: 0;
    background: transparent;
  }
}

@media screen and (max-width: 1024px) {

  body,
  .app,
  .app-main {
    width: 100%;
    overflow-x: auto;
    overflow-y: scroll;
    height: auto;
    min-height: 100vh;
  }

  .header-content {
    padding: 0 10px;
  }

  .ant-calendar-picker-clear {
    opacity: 1;
  }

  .header-content .logo .app-name {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 0;
  }

  .ant-upload-list-picture .ant-upload-span {
    display: block;
  }

  .ant-upload-list-picture .ant-upload-list-item-card-actions {
    text-align: center;
    display: block;
  }

  .ant-upload-list-picture .ant-upload-list-item-name {
    flex: auto;
    padding: 0 8px;
    line-height: 1.2;
    margin-left: 0;
    padding: 0;
    text-align: center;
  }

  .ant-upload-list-picture .ant-upload-list-item-thumbnail img,
  .ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
    margin: auto;
  }
}

@media screen and (max-width: 991px) {
  .todo-list .ant-col:nth-child(4n + 1) {
    clear: none;
  }

  .todo-list .ant-col:nth-child(3n + 1) {
    clear: both;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding-bottom: 30px;
  }

  .app-sider {}

  .app-sider.ant-layout-sider-collapsed {
    /* display: block; */
  }

  .header-content .trigger {
    margin-left: 20px;
  }

  .user-avatar .ant-badge {
    display: none;
  }

  .ant-upload {
    margin-top: 5px;
  }

  /* =======todo-filter=====*/
  .filter-todo .ant-col {
    margin-bottom: 10px;
  }

  .filter-todo h2 {
    margin-bottom: 0;
  }

  .filter-todo .ant-col {
    margin-bottom: 10px;
  }

  /* =======todo-form=====*/
  .todo-form {
    padding: 0;
    background: none;
    border: 0;
  }

  .todo-form.ant-form-inline .ant-form-item {
    width: 45%;
  }

  .ant-calendar-picker {
    width: 100%;
  }

  .image-uploader .ant-upload {
    width: 100%;
    height: 80px;
    margin-top: 10px;
  }

  .image-uploader .ant-upload i {
    font-size: 4em;
  }

  .image-uploader .ant-upload .upload-img {
    width: 80%;
    height: auto;
  }

  /* =======todo-list=====*/
  .todo-list .todo-item .actions {
    display: block;
  }

  .todo-list .ant-col:nth-child(3n + 1) {
    clear: none;
  }

  .todo-list .ant-col:nth-child(2n + 1) {
    clear: both;
  }

  /* =======edit-todo-modal=====*/
  .edit-todo-modal {
    width: 95%;
  }

  .image-uploader-big .ant-upload {
    width: 100%;
    height: 70px;
  }

  .app-main {
    padding-left: 0;
    padding-right: 0;
  }

  .form-content {
    padding: 5px;
  }

  .app-content .body-content {
    padding: 5px;
  }

  .box-builder-form .ant-select,
  .box-builder-form .ant-input-number,
  .box-builder-form .ant-form-item-control-input-content .ant-input,
  .box-builder-form .ant-picker {
    max-width: 100% !important;
  }

  .header-content .logo .my-logo {
    margin-left: 0;
  }

  .mother-menu button {
    margin-bottom: 15px;
  }

  .w5d-list {
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 15px;
  }

  .w5d-list .ant-list {
    min-width: 1000px;
  }

  .w5d-form .left-content {
    padding: 0;
  }

  .ant-radio-button-wrapper {
    margin: 5px;
  }

  .upload-list-inline .ant-upload-list-item {
    width: 31%;
  }

  .hideMobile {
    display: none;
  }

  .hideDesktop {
    display: block;
  }

  .unfold.logo {
    margin-left: 0px;
  }

  .header-content .logo .app-name {
    padding: 0 5px;
    font-size: 12px;
  }

  .welcome-text {
    font-size: 1.5em;
    line-height: 1.2;
  }

  .ant-upload-list-item-info {
    height: 140px;
    overflow: hidden;
  }

  .ant-upload-list-picture .ant-upload-list-item-thumbnail img,
  .ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
    height: auto !important;
  }

  .border-box-widget .border-box-body {
    overflow-x: auto;
  }

  .border-box-widget .border-box-body .ant-table-wrapper {
    min-width: 600px;
  }
}

@media screen and (max-width: 480px) {
  .header-content .trigger {
    margin-left: 10px;
    display: none;
  }

  .content-user-menu .user-avatar {
    float: right;
    padding-right: 0;
  }

  .w5d-user-dropdown .ant-dropdown-menu {
    margin-top: -5px;
  }

  .content-user-menu .user-avatar .ant-avatar {
    display: none;
  }

  .content-user-menu .user-avatar .app-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    display: inline-block;
    max-width: 100px;
    font-size: 13px;
  }

  .content-user-menu .user-avatar .app-name .user-label {
    display: none;
  }

  .app-main {
    padding-bottom: 0px;
    overflow: hidden;
    margin-left: 0 !important;
  }

  .app-main .ant-col {
    padding: 0 5px !important;
  }

  .todo-form.ant-form-inline .ant-form-item {
    width: 100%;
  }

  .todo-form input,
  .todo-form .ant-select-selection--single,
  .ant-select-selection__rendered {
    width: 100%;
  }

  .upload-list-inline .ant-upload-list-item {
    width: 30%;
  }

  .image-item {
    display: block;
    width: 48%;
    padding: 0px 0px 10px 10px;
  }

  .ant-col .ant-col-xl-15 {
    display: flex;
    margin: 20px 0px 0px 0px;
  }

  .ant-btn {
    padding: 0px 7px 0 7px;
  }

  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    padding: 0px 5px 0px 3px;
  }
}

@media screen and (max-width: 320px) {}

/* for deduce rule */
.view-attribute {
  border-radius: 15px;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  margin-bottom: 1rem;
  background-color: rgb(255, 255, 255);
  display: block;
  width: 700px;
  font-size: 17px;
  margin: auto;
}

.view-attribute .view-body {
  border-bottom: 1px solid rgb(160, 160, 160);
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px;
  font-size: 15px;
}

.form-error {
  color: red;
  font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;
  font-size: 16px;
}

.w5d-form h1 {
  text-align: center;
}

.view-params-container {
  width: 40%;
  color: #404040;
}