@import '~antd/dist/antd.css';
@import 'theme-default.css';

@font-face {
  font-family: 'Linotte-Regular';
  src: url('../fonts/linotte/Linotte-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/linotte/Linotte-Regular.woff') format('woff'),
    url('../fonts/linotte/Linotte-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuickSand';
  src: url('../fonts/quicksand/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url(../fonts/sourcesan/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: 'SourceSansLightPro';
  src: url(../fonts/sourcesan/SourceSansPro-Light.otf);
}

@font-face {
  font-family: 'SourceSansBoldPro';
  src: url(../fonts/sourcesan/SourceSansPro-Bold.otf);
}

* {
  -webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth;
}

.app-version {
  display: inline-block;
  padding: 0 10px;
}

body {
  font-family: 'SourceSansPro';
  font-weight: normal;
  font-size: 15px;
  min-height: 100vh;
  letter-spacing: 0.6px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.full {
  width: 100%;
}

.hidden {
  display: none;
}

.ant-tabs-nav {
  margin: 0;
}

.tabs-layout-admin .ant-tabs-nav .ant-tabs-tab {
  border-bottom-width: 2px;
  border-bottom-color: #fff;
  border: 1px solid #fff;
  margin-right: 8px;
}

.tabs-layout-admin .ant-tabs-nav .ant-tabs-tab-active {
  border: 1px solid #faad14;
  border-bottom-color: #faad14  !important;
  border-bottom-width: 2px;
}

.ql-editor {
  min-height: 100px;
}

.table-cates {
  padding-left: 25px;
}

.ant-form label,
.ant-form-item,
.ant-form {
  font-size: 16px;
}

.txt-right {
  text-align: right;
}

.viewMode * {
  pointer-events: none !important;
}

.viewMode {
  cursor: not-allowed;
}

.iframe-main {
  min-height: 100vh;
  width: 100%;
}

.iframe-main .iframe-rule-engine {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin-top: 30px;
}

.FolderTree {
  max-width: 96% !important;
}

.select-action-group-cate {
  margin-bottom: 10px;
}

.right-actions {
  text-align: right;
  margin-bottom: 10px;
}

.left-align,
.left-align div {
  text-align: left;
}

.ant-btn {
  padding: 0 18px 0 10px;
}

.hidden-input {
  display: none;
}

.text-center {
  text-align: center;
}

.loading {
  margin: 20px 0;
  margin-bottom: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.welcome-text {
  text-transform: uppercase;
  color: #3598dc;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

a {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

.btn-groups {
  text-align: center;
}

.btn-groups button {
  margin: 8px 8px 8px 0;
}

.home-screen {
  min-height: 100vh;
}

.home-screen .border-box-widget h2 {
  background: linear-gradient(90deg, #2fa2c1 0%, #23cddd 100%) !important;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: lighter;
  color: #fff;
}

*::-webkit-scrollbar {
  width: 4.5px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar:horizontal {
  height: 5px;
}

.app {
  padding: 30px 0;
}

.app .title {
  text-align: center;
  text-transform: uppercase;
  padding: 30px;
}

.w5d-form.form-list-fields .ant-select-selector .ant-select-selection-placeholder {
  text-align: left !important;
}

.app-link {
  color: #09d3ac;
}

.text-quill-custom {
  position: relative;
}

.text-quill-custom .new-btn {
  color: #444;
}

.ql-tooltip.ql-editing {
  right: 100px !important;
  top: -8px !important;
  width: 700px !important;
  left: auto !important;
  display: flex;
  flex-direction: column;
}

.ql-tooltip.ql-hidden {
  display: none !important;
}

.ql-tooltip.ql-editing input {
  width: 100% !important;
  height: 60px !important;
  margin-bottom: 8px !important;
}

.ql-tooltip.ql-editing .ql-action {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.85);
  border-color: #d9d9d9;
  background: #fff;
  width: 100px;
  margin: auto;
  background: #0073aa;
  color: #fff;
}

.question-title img {
  max-width: 300px;
}

.text-quill-custom .ql-formats .ql-image {
  display: none !important;
}

.save-form-btn .ant-btn {
  margin: 0 5px;
}

.hideMobile {
  display: block;
}

.hideDesktop {
  display: none;
}

.loading-spin {
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}

.ant-list-items {
  border: 1px solid #ccd0d4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.ant-list .ant-pagination {
  padding: 0 25px;
}

.ant-list-split .ant-list-header,
.ant-list-split .ant-list-item {
  padding: 5px 0;
  border: 0;
}

.ant-list-split .ant-list-header a,
.ant-list-split .ant-list-item a {
  color: #0073aa;
}

.ant-list-split .ant-list-header {
  border: 1px solid #ccd0d4;
  border-bottom: 0px solid #ccd0d4;
  background: #fff;
  padding: 10px 0;
}

.ant-list-split .ant-list-footer {
  border: 1px solid #ccd0d4;
  border-top: 0px solid #ccd0d4;
  background: #fff;
  padding: 10px 0;
}

.ant-list-empty-text {
  border: 1px solid #ccd0d4;
}

.ant-list-something-after-last-item .ant-spin-container>.ant-list-items>.ant-list-item:last-child {
  border-bottom: 0;
}

.ant-list-split .ant-list-item:nth-child(2n) {
  background: #fff;
}

.ant-list-split .ant-list-item:nth-child(2n + 1) {
  background: #f1f1f1;
}

.ant-popover {
  z-index: 9999;
}

.btn-choose-todo-category {
  position: relative;
  width: 95%;
  padding-right: 25px;
}

.btn-choose-todo-category span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-choose-todo-category i {
  position: absolute;
  right: 8px;
  top: 8px;
}

.ant-back-top {
  bottom: 5px;
  right: 5px;
}

.btn-action {
  margin-left: 15px;
}

.add-sub-field {
  margin: 10px 0;
  text-align: right !important;
}

.con-item {
  text-decoration: underline;
}

.condition-inputs {
  position: relative;
}

.condition-inputs .btn-remove-condition {
  position: absolute;
  right: -45px;
  top: -25px;
  z-index: 9999;
}

.list-fields .list-field-item:first-child .first-remove-sub-field {
  margin-top: 45px !important;
}

.list-fields .list-field-item:first-child .remove-sub-field {
  margin-top: 18px !important;
}

.list-fields .list-field-item .anticon-delete {
  color: red;
}

.full-width {
  width: 100%;
}

.upload-images-list {
  margin-top: 10px;
  display: block;
}

.upload-images-list .folder-input {
  margin-bottom: 15px;
}

.upload-images-list .upload-submit {
  cursor: pointer;
  color: #5aa9d0;
}

.upload-images-list .ant-upload.ant-upload-select-picture-card {
  margin: 8px 16px;
}

.upload-images-list .ant-upload-list-picture-card-container {
  margin-bottom: 15px;
}

.upload-images-list .upload-list-inline .ant-upload-list-item {
  width: auto;
}

.three-dot {
  display: block;
  width: 100%;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-remove-condition {
  margin-top: 30px;
}

.review-mother {
  width: 60%;
  margin: auto;
  padding: 30px;
  background: #f1f1f1;
  border: 1px solid #888;
  border-radius: 10px;
}

.review-mother h1 {
  text-align: center;
  text-transform: uppercase;
}

.form-edit-todo-cate {
  background: none;
}

.form-edit-todo-cate input,
.form-edit-todo-cate input:hover,
.form-edit-todo-cate input:focus {
  outline: none;
  height: 28px;
  width: 95%;
  border-radius: 0;
  border: 0;
}

.ck.ck-content {
  border: 1px solid #ddd;
  min-height: 300px;
  background: #fff;
}

.w5d-list .ant-list-header .ant-col,
.w5d-list .ant-list-footer .ant-col {
  color: #444;
  text-align: center;
}

.w5d-list .ant-list-item .ant-col,
.w5d-list .ant-list-header .ant-col,
.w5d-list .ant-list-footer .ant-col {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: inline-block;
}

.w5d-list.full-text .ant-list-item .ant-col, .w5d-list.full-text .ant-list-header .ant-col {
  overflow: auto;
  white-space: normal;
  display: block;
}

.w5d-list .ant-list-item .text-left,
.w5d-list .ant-list-header .text-left {
  text-align: left;
}

.w5d-list .ant-list-item .text-left,
.w5d-list .ant-list-header .text-left {
  text-align: left;
}

.w5d-list .ant-list-header .text-left,
.w5d-list .ant-list-footer .text-left {
  text-align: left;
}

.ant-col-0 {
  display: none !important;
}

/* =======app sider=====*/

.app-sider {
  background-image: -webkit-linear-gradient(45deg, #635aff 0%, #8a41ff 40%, #da46b1 100%);
  color: #fff;
  padding-top: 30px;
}

.app-sider .mobile-bar {
  font-size: 20px;
  margin: auto;
  position: fixed;
  left: 250px;
  top: 5px;
  z-index: 99999;
}

.unfold.logo {
  margin-left: 20px;
}

.app-sider.ant-layout-sider-collapsed .mobile-bar {
  left: 55px;
}

.ant-layout-sider-collapsed .logo .app-name {
  display: none;
}

.app-sider .app-menu {
  background: none;
  border-right: 0;
  width: 100%;
  position: fixed;
  max-width: 250px;
  display: block;
  overflow: auto;
  height: 100%;
}


.app-sider .app-menu.ant-menu-inline-collapsed {
  max-width: 55px;
}

.app-sider .app-menu.ant-menu-inline-collapsed li {
  text-align: center;
}

.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title {
  padding: 0 8px;
}

.app-sider .app-menu .ant-menu-sub {
  background: transparent;
}

.app-sider .app-menu .m-active,
.app-sider .app-menu .ant-menu-submenu-active {
  background: #faad14 !important;
}

.app-sider .app-menu .ant-menu-submenu:hover {
  background: #faad14;
}

.app-sider .app-menu .m-active>a {
  font-weight: bold;
}

.app-sider .app-menu .ant-menu-submenu .m-active {
  text-decoration: underline;
  font-weight: bold;
  border-right: 4px solid red;
}

.app-sider .app-menu .anticon {
  font-size: 18px;
}

.app-sider .app-menu li {
  margin-bottom: 6px !important;
  font-size: 15px;
}

.app-sider .app-menu>.ant-menu-item,
.app-sider .app-menu>.ant-menu-submenu {
  margin-bottom: -4px;
}

.app-sider .app-menu .ant-menu-submenu .ant-menu-submenu-title {
  height: 30px;
  line-height: 30px;
}

.app-sider .app-menu .ant-menu-item:active,
.app-sider .app-menu .ant-menu-submenu-title:active {
  background: none;
}

.app-sider .app-menu .ant-menu-sub .ant-menu-item {
  padding-left: 35px !important;
  height: 30px !important;
  line-height: 30px !important;
}

.app-sider .app-menu .ant-menu-submenu-arrow::before,
.app-sider .app-menu .ant-menu-submenu-arrow::after {
  background: #fff !important;
}

.app-sider .app-menu li a,
.app-sider .app-menu li a i {
  color: #fff !important;
}

.app-sider .app-menu .ant-menu-sub a i {
  font-size: 7px;
}

.app-sider .app-menu li::after {
  display: none;
}

.app-sider .app-menu .ant-menu-item-selected,
.app-sider .app-menu .ant-menu-item-selected {
  background: none;
  text-decoration: underline;
}

.app-sider .todo-label {
  margin-top: 30px;
  padding: 30px 25px;
}

.app-sider .todo-label span {
  color: #fff;
  line-height: 220%;
}

.ant-layout-sider-collapsed .todo-label {
  padding: 3px;
}

.app-sider .ant-menu-inline-collapsed>.ant-menu-item {
  padding: 0 8px !important;
}

/* =======app content=====*/

.app-content {
  background: url('../images/bg_main.png') no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.title-top {
  text-transform: uppercase;
  color: green;
  font-weight: bolder;
}

.title-top span {
  border-left: 3px solid green;
  padding-left: 10px;
  text-shadow: 1px 2px 1px #000;
  margin-left: 10px;
}

.app-breadcrumb {
  padding: 5px 0;
}

.app-breadcrumb a {
  color: green;
  font-weight: bold;
}

.app-breadcrumb a:hover {
  color: green;
}

.header-content {
  background-image: -webkit-linear-gradient(45deg, #da46b1 0%, #8a41ff 40%, #635aff 100%);
  padding: 0 3px;
  color: #fff;
  position: fixed;
  right: 0;
  left: 0px;
  top: 0;
  z-index: 999;
  height: 32px;
}

.header-content .ant-layout-header,
.ant-layout-header {
  line-height: 32px;
}

.header-content .languages-change {
  color: #fff;
  margin-left: 20px;
}

.app-content .body-content {
  background: #f7f7f7;
  padding: 15px;
  border-radius: 8px;
  min-height: 93.5vh;
}

.header-content .logo {
  display: inline;
}

.header-content .logo a {
  color: #fff;
}

.header-content .unfold .app-name {
  display: none;
}

.header-content .trigger {
  margin-left: 5px;
}

.header-content .logo .app-name {
  padding: 0 18px;
  font-size: 18px;
}

.header-content .logo .my-logo {
  margin-left: 18px;
  margin-top: -3px;
}

.header-content .unfold.logo .my-logo {
  margin-left: 0px;
}

.main-header-content {
  text-align: right;
}

.chat-header {
  padding-right: 15px;
}

.chat-header svg {
  color: #fff;
}

.notification-header {
  padding-right: 15px;
}

.notification-header svg {
  color: #fff;
}

.notification {
  width: 380px;
}

.notification .item {
  color: #000000;
  border-bottom: 1px solid #e0e0e0;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.notification .item .date {
  color: #787878;
  text-align: right;
  display: inline;
}

.notification .item:hover {
  background: #f8f8f8;
}

.notification .ant-dropdown-menu {
  border-radius: 0;
  display: block;
  padding: 0;
  margin-top: 4px;
  min-width: 300px;
  border: 1px solid #e0e0e0;
}

.notification .ant-dropdown-menu .itemGroup {
  padding: 5px 10px;
  color: #787878;
  text-align: center;
  display: inherit;
  border-bottom: 1px solid #e0e0e0;
}

.notification .ant-dropdown-menu .itemGroup:hover {
  background: #f8f8f8;
}

.user-avatar {
  display: inline-block;
  padding-right: 15px;
}

.content-user-menu {
  text-align: right;
}

.content-user-menu .my-avatar {
  cursor: pointer;
  margin-right: 1em;
}

.content-user-menu i {
  padding: 0 5px 0 5px;
  cursor: pointer;
}

.app-main {
  padding: 2em 1em;
  padding-top: 50px;
}

/* =======filter-todo=====*/

.filter-todo .ant-select {
  width: 95%;
}

.filter-todo b {
  line-height: 32px;
}

/* =======todo-list=====*/

.btn-create-todo {
  margin-bottom: 10px;
  margin-right: 15px;
}

.btn-create-todo .anticon {
  vertical-align: -2px;
}

.todo-list .todo-item {
  display: block;
  position: relative;
  padding: 7px;
}

.todo-list .ant-col:nth-child(4n + 1) {
  clear: both;
}

.todo-list .todo-item:hover .ant-card {
  box-shadow: 0 0 5px rgba(99, 99, 99, 0.2);
}

.todo-list .todo-item:hover .over-date {
  box-shadow: 0 0 5px rgba(250, 15, 15, 0.6);
}

.todo-list .todo-item:hover .completed {
  box-shadow: 0 0 5px rgba(34, 139, 34, 0.6);
}

.todo-list .todo-item .ant-card-body {
  padding: 15px;
}

.todo-list .todo-item h2 {
  width: 100%;
  font-size: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.todo-list .over-date h2 {
  color: #de271f;
  text-decoration: line-through;
}

.todo-list .completed h2 {
  color: green;
}

.todo-list .todo-item p {
  width: 100%;
  color: #333333;
  padding: 0;
  margin: 0 0 5px 0;
}

.todo-list .todo-item p.des {
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.todo-list .todo-item p.date {
  font-size: 0.8em;
}

.todo-list .todo-item div {
  width: 100%;
}

.todo-list .todo-item div .img {
  width: auto;
  height: 150px;
  display: block;
}

.todo-list .todo-item div.image-block {
  height: 160px;
  overflow: hidden;
}

.todo-list .todo-item .actions {
  text-align: center;
  position: absolute;
  bottom: 35px;
  display: none;
  left: 0;
}

.todo-list .todo-item .actions button {
  margin: 0 3px;
}

.todo-list .todo-item:hover .actions {
  display: block;
}

/* =======todo-form=====*/

.todo-form {
  background: #fff;
  border-radius: 5px;
  padding: 25px 0 0 25px;
  border: 1px dotted #6a61bf;
  margin-bottom: 20px;
}

.todo-form.ant-form-inline .input-col {
  width: 18%;
}

.todo-form.ant-form-inline .button-col {
  width: 9%;
}

.image-uploader .ant-upload {
  width: 100%;
  height: 50px;
}

.image-uploader .ant-upload {
  padding: 0 !important;
}

.image-uploader .ant-upload i {
  font-size: 3.2em;
  color: #6a61bf;
}

.image-uploader .ant-upload .upload-img {
  height: 50px;
  width: 75px;
  margin: auto;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.image-uploader .ant-upload.ant-upload-select-picture-card {
  border: 0;
  height: 50px;
  overflow: hidden;
  background: none;
}

.ant-calendar-picker {
  width: 100%;
  min-width: 100% !important;
}

.todo-form input,
.todo-form .ant-select-selection--single,
.todo-form .ant-select-selection__rendered,
.todo-form textarea {
  width: 100%;
  height: 40px;
  min-height: 40px;
  margin-top: 5px;
}

.todo-form textarea {
  padding-top: 9px;
}

.todo-form .ant-btn-primary {
  margin: 5px;
  background: #6a61bf;
  border: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.ant-form-inline .ant-form-item>.ant-form-item-control-wrapper,
.ant-form-inline .ant-form-item>.ant-form-item-label {
  display: block;
}

/* =======edit-todo-modal=====*/

.edit-todo-modal {
  width: 640px;
}

.edit-todo-modal .ant-modal-header {
  background: #6a61bf;
}

.edit-todo-modal .ant-modal-header .ant-modal-title,
.edit-todo-modal .ant-modal-content .ant-modal-close-icon {
  color: #fff;
  text-transform: capitalize;
}

.image-uploader-big .ant-upload {
  width: 100%;
  height: 158px;
  margin-bottom: -10px;
}

.edit-todo-modal .todo-form {
  border: 0;
}

.edit-todo-modal .ant-form-inline .ant-form-item {
  margin-bottom: 10px;
}

.todo-form-modal.ant-form-inline .ant-form-item {
  width: 96%;
}

.todo-form-modal .ant-btn {
  margin-right: 8px;
}

.todo-form-modal .ant-btn-primary {
  background: #6a61bf;
  border: 0;
  outline: none;
}

.todo-form-modal .btn-remove-image {
  display: block;
  margin: auto;
}

/* =======w5d-dashboard=====*/

.w5d-dashboard {
  width: 100%;
}

.dashboard-stat {
  display: block;
  overflow: hidden;
  border-radius: 4px;
  background: #32c5d2;
  color: #fff;
  position: relative;
}

.dashboard-stat.stat-product {
  background: #8e44ad;
}

.dashboard-stat.stat-project {
  background: #e7505a;
}

.dashboard-stat.stat-user {
  background: #3598dc;
}

.dashboard-stat.stat-image {
  background: #faad14;
}

.dashboard-stat.stat-module {
  background: gold;
}

.dashboard-stat:hover {
  color: #fff;
}

.dashboard-stat:after,
.dashboard-stat:before {
  content: ' ';
  display: table;
}

.dashboard-stat .visual {
  width: 110px;
  height: 135px;
  display: block;
  float: left;
  padding-top: 10px;
  padding-left: 50px;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 35px;
}

.dashboard-stat .visual>span {
  margin-left: -35px;
  font-size: 110px;
  line-height: 110px;
  opacity: 0.1;
}

.dashboard-stat .detail {
  position: absolute;
  right: 0px;
  padding-right: 15px;
}

.dashboard-stat .detail .number {
  padding-top: 32px;
  text-align: right;
  font-size: 3.2em;
  line-height: 44px;
  letter-spacing: -1px;
  margin-bottom: 0;
  font-weight: 300;
}

.dashboard-stat .detail .desc {
  text-align: right;
  font-size: 2em;
  letter-spacing: 0;
  font-weight: 300;
  text-transform: capitalize;
}

.dashboard-stat .detail .desc-group {
  text-align: right;
  font-size: 1.4em;
  letter-spacing: 0;
  font-weight: 300;
  text-transform: capitalize;
}

.dashboard-stat.stat-product {
  border: none;
  padding: 0px;
}

.dashboard-stat .stat-user {
  border: none;
  padding: 0px;
}

.dashboard-stat .stat-table {
  border: none;
  padding: 0px;
}

.dashboard-stat .detail .desc-group span {
  padding: 5px;
}

.home-screen .ant-avatar>img {
  width: 70%;
  margin: auto;
}

.home-screen .ant-table .ant-avatar>img {
  width: 100%;
  height: auto;
  min-height: 68px;
  margin: auto;
  border-radius: 10px;
}

.home-screen .ant-table .ant-table-cell {
  font-size: 18px;
}

.home-screen .ant-table th.ant-table-cell {
  text-transform: capitalize;
  background: #f1f1f1;
  color: #1890ff;

}

.home-screen .ant-table .ant-table-tbody>tr>td {
  border-bottom: 1px solid #f1f1f1;
}


.home-screen .ant-table .ant-table-cell a {
  color: #1890ff;
}

.home-screen .ant-table .ant-table-cell a:hover {
  color: #ff9c00;
  text-decoration: underline;
}

.project-stat-chart {
  border: 1px solid #ccd0d4;
}

.project-stat-chart .stat-title {
  padding: 3px 10px;
  text-align: center;
}

.project-stat-chart .stat-title h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}

.project-stat-chart .stat-title svg {
  font-size: 3em;
  color: #faad14;
}

.project-stat-chart .detail ul li {
  list-style: none;
  color: #000;
  font-size: 1em;
  padding-top: 8px;
  width: 50%;
  display: inline-block;
}

.project-stat-chart .detail ul li .nbr {
  font-size: 1.4em;
  color: #32c5d2;
}

.border-box-widget {
  position: relative;
  min-width: 255px;
  border: 1px solid #ccd0d4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background: #fff;
  margin-bottom: 20px;
  overflow: hidden;
}

.border-box-widget .ant-table {
  min-height: 380px;
}

.border-box-widget .introduction img {
  max-width: 100%;
  height: auto;
}

.border-box-widget h2 {
  font-size: 14px;
  padding: 8px 12px;
  margin: 0;
  line-height: 1.4;
  border-bottom: 1px solid #ccd0d4;
  display: block;
  text-align: left;
  font-weight: bold;
  cursor: move;
}

.border-box-widget .border-box-body {
  padding: 12px;
  overflow: hidden;
}

.border-box-widget .border-box-body .my-avatar {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.border-box-widget .home-chart {
  margin: 30px 0px 0px 0px;
}

.simple-image-picker .image-box {
  border: 0 !important;
}

.simple-image-picker .image-box h2 {
  border: 0 !important;
}

.profile-basic h1 {
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  padding-top: 10px;
}

.profile-basic h4 {
  font-weight: lighter;
  text-align: center;
  padding-top: 0px;
}

.profile-basic svg {
  font-size: 23px;
  padding-right: 5px;
  color: #000;
}

.profile-basic-info {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.profile-basic-info p {
  color: #444;
  font-weight: lighter;
  text-transform: none;
  margin-bottom: 0;
}

.profile-basic-info .info-item {
  border-bottom: 2px dotted #f1f1f1;
  padding: 6px 5px;
}

.profile-more .ant-tabs-nav .ant-tabs-tab {
  padding: 8px 0;
  font-weight: bold;
}

.profile-more .border-box-body {
  padding-top: 0;
}

.ant-tabs-content-holder .chart-user {
  padding-top: 0;
}

.profile-left .border-box-widget {
  height: auto;
  overflow-y: auto;
}

.profile-right .border-box-widget {
  height: auto;
  overflow-y: auto;
}

.w5d-dashboard .welcome-text {
  color: #6a61bf;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
  padding: 20px;
}

/* =======w5d-list=====*/

.w5d-list .ant-list-item .ant-col,
.w5d-list .ant-list-header .ant-col,
.w5d-list .ant-list-footer .ant-col {
  padding: 0 12px;
  font-size: 16px;
}

.w5d-list .ant-list-header .ant-col,
.w5d-list .ant-list-footer .ant-col {
  font-weight: normal;
  text-transform: none;
}

.w5d-list .ant-list-item {
  color: #000;
}

.w5d-list .ant-list-item .actions {
  height: 23.5px;
  transition: 3s;
  transition: all 1s ease;
}

.w5d-list .ant-list-item .actions .act {
  text-transform: capitalize;
  padding-right: 0px;
  display: none;
  line-height: 10px;
}

.w5d-list .ant-list-item:hover .actions .act {
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
  padding-right: 15px;
}

.w5d-list .ant-list-item .actions .act:hover {
  text-decoration: underline;
}

.ant-list-split .ant-list-item:hover .actions .edit {
  color: #6a61bf;
}

.ant-list-split .ant-list-item:hover .actions .delete {
  color: red;
}

.ant-list-split .ant-list-item:hover .actions .view {
  color: green;
}

.ant-list-split .ant-list-item:hover .actions .gensql {
  color: rgb(45, 0, 128);
}

.ant-list-split .ant-list-item:hover .actions .add_column {
  color: rgba(52, 207, 31, 0.849);
}

/* =======w5d-form=====*/

.w5d-form .header-form-title {
  text-transform: capitalize;
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.w5d-form .left-content {
  padding: 20px;
  border-radius: 8px;
}

.w5d-form .right-content {
  padding: 20px;
  border-radius: 8px;
}

.w5d-form .left-content .ant-form-item,
.w5d-form .right-content .ant-form-item {
  margin-bottom: 5px;
}

.w5d-form .right-content .box {
  padding: 20px 0;
  border-radius: 8px;
  padding-top: 0;
}

.w5d-form .header {
  text-transform: capitalize;
  border-bottom: 1px solid #6a61bf;
  margin-bottom: 15px;
}

.w5d-form .right-content .box .box-body {
  padding: 0;
}

.border-box {
  position: relative;
  min-width: 255px;
  border: 1px solid #ccd0d4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background: #fff;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-radius: 6px;
}

.border-box.image-box {
  max-width: 100%;
  margin-top: 25px;
}

.image-box-list {
  margin-top: 30px;
}

.image-box-list .ant-row {
  padding: 0 !important;
}

.image-box-list .ant-row .ant-col {
  padding: 0 !important;
}

.image-box-list .image-item {
  padding-bottom: 25px;
}

.border-box h2 {
  font-size: 14px;
  padding: 8px 12px;
  margin: 0;
  line-height: 1.4;
  border-bottom: 1px solid #ccd0d4;
  display: block;
  text-align: left;
  font-weight: bold;
  cursor: move;
}

.border-box .ant-form-item {
  padding: 12px;
}

.border-box .ant-form-item {
  padding-bottom: 0;
  padding-top: 10px;
}

.image-uploader .ant-upload .upload-img {
  width: 100%;
  height: auto;
  margin: auto;
}

.btn-remove-image {
  margin: auto;
  display: block;
}

.w5d-form .right-content .box .box-body .image-uploader .ant-upload {
  width: 100%;
}

.cate-form-block form {
  padding: 16px;
  padding-bottom: 5px;
  border-radius: 10px;
  background: #fff;
}

.upload-imgs .itm {
  width: 33%;
  padding: 5px;
  display: inline-block;
  height: 100px;
  overflow: hidden;
  position: relative;
}

.upload-imgs .itm img {
  width: 100%;
}

.upload-imgs .itm .btn-remove-album-image {
  position: absolute;
  z-index: 999;
  top: 5px;
  right: 5px;
  display: none;
}

.upload-imgs .itm:hover .btn-remove-album-image {
  display: block;
}

.w5d-form .ant-form-item-label {
  line-height: 19px;
}

.configs-box h3 {
  text-transform: capitalize;
  font-size: 1.4em;
  font-weight: bold;
}

.configs-box .ant-tabs-tab-btn {
  color: #000;
  font-weight: normal;
}

.configs-box .image-box-list {
  margin-top: 18px !important;
}

.configs-box .btn-view-album-image {
  display: none;
}

.configs-box .image-item {
  width: 100px;
  padding: 0;
}

.configs-box .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #000;
}

.list-form-actions {
  padding-top: 15px;
}

.list-form-actions button {
  margin-right: 10px;
}

.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 19%;
  height: auto;
  margin-right: 8px;
  overflow: hidden;
  padding-bottom: 10px;
}

/* =======w5d-modal=====*/

.w5d-modal-large .ant-modal {
  width: 88% !important;
  height: 80%;
  top: 33px;
}

.w5d-modal-large .ant-modal-header {
  background: #3c8dbc;
  color: #fff;
}

.w5d-modal-large .ant-modal-header .ant-modal-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.w5d-modal-large .ant-modal-close-x svg {
  color: #fff !important;
}

.w5d-modal-media-library {
  z-index: 999999 !important;
}

.w5d-modal-media-library .ant-modal {
  width: 98% !important;
  height: 80%;
  top: 33px;
}

.w5d-modal-media-library .ant-modal .upload-list-inline .ant-upload-list-item {
  float: left;
  width: 19%;
  height: 180px;
  margin-right: 8px;
  overflow: hidden;
  padding-bottom: 10px;
}

.w5d-modal-media-library .ant-modal .ant-upload-list-picture .ant-upload-list-item-info {
  height: 150px;
  overflow: hidden;
}

.w5d-modal-media-library .ant-modal .ant-upload-list-picture .ant-upload-list-item-thumbnail:focus img {
  filter: brightness(0.4);
}

.w5d-modal-media-library .ant-modal .ant-upload-list-picture .ant-upload-list-item-thumbnail {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
}

.w5d-modal-media-library .ant-modal .ant-upload-list-picture .ant-upload-list-item-thumbnail img {
  width: 92%;
  height: auto;
  border-radius: 6px;
}

.w5d-modal-media-library .ant-modal .ant-upload-list-picture .ant-upload-list-item-thumbnail img:hover {
  opacity: 0.7;
}

.w5d-modal-media-library .ant-modal .ant-upload-list-picture .ant-upload-list-item-name,
.w5d-modal-media-library .ant-modal .ant-upload-list-item-card-actions {
  display: none;
}

.ant-upload-list-picture .ant-upload-list-item-thumbnail img,
.ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
  width: 100px !important;
  height: 100px !important;
}

.ant-upload-list-picture .ant-upload-list-item-thumbnail,
.ant-upload-list-picture-card .ant-upload-list-item-thumbnail {
  width: 100px !important;
  height: 100px !important;
}

.FolderTree .TreeNode .AddFileIcon {
  display: none !important;
}

.FolderTree .TreeNode .iconContainer svg {
  font-size: 16px;
  color: orange;
}

.FolderTree .TreeNode .TreeNodeToolBar svg:last-child {
  display: none;
}

.FolderTree .TreeNode .TreeNodeToolBar .AddFolderIcon {
  font-size: 20px;
  margin-top: -2px;
  display: none;
}

.FolderTree .TreeNode:first-child .TreeNodeToolBar .delete-folder-icon {
  display: none;
}

.FolderTree .TreeNode:first-child .TreeNodeToolBar .AddFolderIcon {
  display: inline-block;
}

.FolderTree .TreeNode input[type='text'] {
  display: inline-block;
  width: 100px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  padding-left: 5px;
}

.folder-creator {}

.folder-creator .nameFolder {
  width: 45%;
  display: inline-block;
}

.folder-creator .parentFolder {
  width: 45%;
  display: inline-block;
}

.folder-creator .submitFolder {
  width: 10%;
  display: inline-block;
}

/* =======w5d-dropdown=====*/

.ant-dropdown-menu {
  border-radius: 0;
  padding: 0;
  margin-top: 0px;
  min-width: 160px;
}

.ant-dropdown-menu .ant-dropdown-menu-item:hover {
  background: #fff;
}

.ant-dropdown-menu .ant-dropdown-menu-item:hover {
  background: #fff;
}

.w5d-user-dropdown a {
  color: #fff;
}

.w5d-user-dropdown a:hover {
  color: #fff;
  text-decoration: underline;
}

.w5d-user-dropdown .ant-dropdown-menu {
  border-radius: 0;
  padding: 0;
  margin-top: 4px;
  min-width: 270px;
}

.w5d-user-dropdown .ant-dropdown-menu .info {
  background: #0073aa;
  padding: 15px 30px;
  color: #fff;
  text-align: center;
  display: inherit;
}

.w5d-user-dropdown .ant-dropdown-menu .ant-avatar-image {
  display: block;
  text-align: center;
  margin: auto;
}

.w5d-user-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:last-child:hover {
  background: #fff;
}

.main-mudule-app {
  padding: 15px;
  min-height: 80vh;
}

.main-mudule-app>.ant-tabs-nav>.ant-tabs-nav-wrap>.ant-tabs-nav-list {
  display: inline-block !important;
}

.module-form-tab {
  border-radius: 0px;
}

.my-patient {
  margin-right: 6px;
  color: goldenrod;
  font-size: 20px;
}

.profile-more {
  min-height: 80vh !important;
}

.profile-left {
  min-height: 80vh !important;
}

.form-builder-gennerated {
  width: 100%;
}

.app-sider .ant-menu-inline-collapsed>.ant-menu-item {
  padding: 0 20px !important;
}

.ant-form-vertical .form-builder-gennerated .ant-form-item-label {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

.ant-form-vertical .form-builder-gennerated .ant-form-item-control {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

.main-mudule-app .ant-tabs-tab {
  margin: 0 6px !important;
}

.main-mudule-app .ant-tabs-tab-active {
  background: #f1f1f1 !important;
  border-radius: 15px !important;
  text-transform: uppercase;
}

.main-mudule-app .ant-tabs-nav::before {
  border-bottom: 0 !important;
}

.main-mudule-app .ant-tabs-tab .ant-tabs-tab-btn {
  color: #000;
}

.main-mudule-app .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff;
}

.main-mudule-app .ant-tabs-content-holder {
  border-left: 0;
}

.main-mudule-app .ant-tabs-nav-list {
  width: 100% !important;
  text-align: center !important;
}

.main-mudule-app .ant-tabs-ink-bar {
  display: none;
}

.detail-user-page .w5d-form .right-content .box {
  padding-top: 0;
}

.module-submit-btn {
  text-align: center;
}

.module-submit-btn button {
  margin: 0 10px;
}

.module-grant-btns {
  margin-bottom: 15px;
  text-align: center;
}

.module-grant-btns button {
  margin: 0 5px;
}

.module-grant-btns button.active {
  background: #faad14;
}

/* .form-generate input[type='text'],
.form-generate .ant-input-number,
.form-generate input[type='tel'],
.form-generate input[type='email'],
.form-generate .ant-select,
.form-generate .ant-select-selector,
.form-generate .ant-picker {
  border-radius: 30px !important;
  height: 33px !important;
  line-height: 33px !important;
} */

.module-modal {
  z-index: 999;
}

.ant-modal-mask {
  z-index: 998;
}

.module-modal .ant-modal {
  width: 94% !important;
}

.module-modal .ant-modal .form-modal-module {
  min-height: 70vh;
  max-height: 94vh;
  overflow-y: scroll;
}

.form-modal-module .ant-form-item {
  margin-bottom: 8px;
}

.module-modal .ant-modal .ant-modal-header {
  background: #faad14;
}

.module-modal .ant-modal .ant-modal-header .ant-modal-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.module-modal .ant-modal .ant-modal-content,
.module-modal .ant-modal .ant-modal-header {
  border-radius: 8px;
}

.module-modal .ant-modal .module-submit-btn {
  position: absolute;
  right: 15px;
  top: 50px;
  z-index: 99999;
}

.module-modal .ant-modal-close-x {
  background: red;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
}

.module-submit-btn-fixed {
  position: fixed;
  right: 20px;
  z-index: 99;
  top: 145px;
}

.sub-module-tabs .ant-tabs-nav-list {
  display: block !important;
  margin: auto !important;
}

.sub-module-tabs .ant-tabs-nav-list .ant-tabs-tab {
  padding: 2px 20px;
  border-radius: 3px !important;
  border: 1px solid #999;
}

/* =======app-library=====*/

.preview-box img {
  width: 100%;
  display: block;
  margin: 5px 0;
  height: auto;
}

.preview-box video {
  width: 100%;
  display: block;
  margin: 5px 0;
  aspect-ratio: 16/9;
  height: auto;
  min-height: 200px;
}

.preview-box iframe {
  width: 100%;
  display: block;
  margin: 5px 0;
  height: auto;
  min-height: 300px;
  border: 0;
}



.library-image-list .ant-list-items {
  border: 0;
  min-height: 80vh !important;
}

.library-image-list .ant-list {
  width: 100%;
}

.library-image-list .ant-list-pagination {
  clear: both;
}

.image-item {
  position: relative;
  float: left;
  padding: 8px;
  margin: 0;
  color: #444;
  cursor: pointer;
  list-style: none;
  text-align: center;
  width: 12%;
}

.image-item .attachment-preview {
  position: relative;
  box-shadow: inset 0 0 15px rgb(0 0 0 / 10%), inset 0 0 0 1px rgb(0 0 0 / 5%);
  background: #eee;
  cursor: pointer;
}

.image-item .attachment-preview .thumbnail {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.1s;
}

.image-item .attachment-preview .thumbnail .centered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(50%, 50%);
}

.image-item .attachment-preview .thumbnail .centered img {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
}

.image-item .attachment-preview .thumbnail:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);
  overflow: hidden;
}

.image-item .attachment-preview:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.btn-remove-album-image svg {
  color: red;
}

.app-library .library-image-list .image-item .ant-image {
  height: 150px;
  overflow: hidden;
}

.app-library .library-image-list .image-item .ant-checkbox-wrapper {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 9;
}

.app-library .library-image-list .image-item .ant-checkbox-wrapper .ant-checkbox-inner {
  width: 20px;
  height: 20px;
}

.app-library .library-image-list .image-item .ant-checkbox-wrapper .ant-checkbox-inner::after {
  position: absolute;
  top: 40%;
  left: 32%;
}

.app-library .ant-upload.ant-upload-drag {
  height: auto;
  padding: 20px;
  margin-bottom: 10px;
  margin-right: 25px !important;
  width: auto;
}

.file-information {
  padding: 25px;
}

.file-information h4 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.2em;
}

.file-information .infor-item {
  margin-bottom: 3px;
}

.file-update {
  padding: 25px;
}

.file-update h4 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.2em;
}

.preview-thumbnail-image {
  box-sizing: border-box;
  padding: 16px;
  height: 100%;
}

.preview-thumbnail-image video {
  width: 90%;
  height: auto;
  min-height: 400px;
  display: block;
  margin: auto;
  aspect-ratio: 16/9;
}

.preview-thumbnail-image iframe {
  width: 90%;
  height: auto;
  min-height: 400px;
  display: block;
  margin: auto;
  aspect-ratio: 16/9;
  border: 0;
}

.preview-thumbnail-image .details-image {
  display: block;
  margin: 0 auto 16px;
  background-image: linear-gradient(45deg, #c3c4c7 25%, transparent 25%, transparent 75%, #c3c4c7 75%, #c3c4c7),
    linear-gradient(45deg, #c3c4c7 25%, transparent 25%, transparent 75%, #c3c4c7 75%, #c3c4c7);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  max-width: 860px;
  max-height: 500px;
  min-width: 100px;
  min-height: 100px;
}

.attachment-info {
  background: #f6f7f7;
}

/* =======w5d-form-builder=====*/

.steps-content {
  margin: auto;
}

.w5d-form-builder {
  padding: 25px;
}

.form-builder-main .ant-steps {
  padding: 30px;
}

.form-builder-main .steps-action {
  text-align: center;
}

.w5d-form .ant-form-vertical .ant-form-item-control,
.w5d-form .ant-form-vertical .ant-form-item-label {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

.form-list-fields .ant-list-header {
  padding-left: 15px;
  padding-right: 45px;
}

.nbr {
  margin: 1px 0 0;
  cursor: move !important;
  background: transparent;
  float: left;
  height: 28px;
  line-height: 28px;
  width: 28px;
  font-size: 13px;
  color: #444;
  position: relative;
  z-index: 1;
  border: #bbb solid 1px;
  border-radius: 100%;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
}

.nbr:hover {
  border: 1px solid #0073aa;
  color: #0073aa;
}

.custom-view-layout {
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-view-layout .nbr {
  margin-top: 28px;
}

.form-builder-main .ant-collapse {
  width: 100%;
}

.field-setting {
  background: #e6fffb;
  padding: 25px 0 0 0;
  border: 1px solid lightseagreen;
  border-radius: 10px;
  text-align: left;
}

.field-setting .field-label {
  text-align: left !important;
  padding: 0 20px;
}

.field-setting .field-value {
  text-align: left !important;
}

.field-setting .field-value .ant-switch {
  display: block;
}

.field-setting .ant-select-selection-item {
  text-align: left;
}

.tag-input {
  display: inline-block !important;
  min-width: 100px !important;
  max-width: 200px !important;
  margin-right: 10px !important;
}

.w5d-form-builder .list-field-items ul {
  margin: 0;
}

.field-options .ant-form-item-extra {
  text-align: left;
}

.list-field-items .field-moveable {
  list-style: none;
  padding: 10px;
  margin-right: 10px;
  font-weight: normal;
  cursor: move;
  color: #1890ff;
  list-style-type: decimal-leading-zero;
  border-bottom: 1px dashed #40acad;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list-field-items .field-moveable:last-child {
  border-bottom: 0;
}

.ant-form legend {
  font-weight: bold;
  margin-bottom: 0;
  color: #333;
  border-bottom: 0;
  position: relative;
}

.ant-form legend::before {
  position: absolute;
  content: '';
  background: orangered;
  height: 15px;
  width: 2px;
  top: 5px;
  left: -6px;
}

.fber-label {
  padding: 5px 15px;
}

.fber-label .fber-label-description {
  line-height: 13px;
}

.fber-label.align-center {
  text-align: center;
}

.fber-label.align-left {
  text-align: left;
}

.fber-label.align-right {
  text-align: right;
}

.save-form-btn {
  text-align: center;
}

.label-panel-item .label-text {
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  text-decoration: underline;
}

.form-content {
  padding: 30px;
}

.box-builder-form {
  width: 100%;
  margin: auto;
}

/* .condition-items {
  margin-top: 5px !important;
} */

.form-legend {
  text-transform: uppercase;
  font-weight: bold;
}

.ant-form-item-label>label {
  white-space: normal;
}

.mother-menu {
  padding: 25px;
  padding-bottom: 0;
  text-align: center;
}

.no-padding-top {
  padding-top: 0;
}

.mother-menu button {
  margin: 0 5px;
}

.timelines {
  overflow-y: scroll;
  padding-top: 15px;
  min-height: 500px;
  height: auto;
}

.timelines .login {
  color: green;
}

.timelines .ant-timeline-item-label {
  color: #666666;
}

.timelines .logout {
  color: red;
}

.ant-result-404,
.ant-result-403 {
  min-height: 100vh;
}

.timeline-page {
  min-height: 100vh;
  background: #fff;
  padding: 20px;
}

.items-margin {
  margin-right: 10px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #0073aa !important;
  font-weight: 500;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: #319243;
  pointer-events: none;
}

.ant-tabs-tab:hover {
  color: #319243;
}

@import 'themes/blue.css';
@import 'themes/red.css';
@import 'themes/grey.css';
@import 'themes/green.css';