/* =======BLUE THEME=====*/

.blue-theme .ant-btn-primary {
  color: #fff;
  background: #2fa2c1;
  border-color: #5aa9d0;
}

.blue-theme .ant-btn-primary:hover,
.blue-theme .ant-btn-primary:focus {
  color: #fff;
  border-color: #2fa2c1;
}

.blue-theme aside.app-sider {
  background: #2fa2c1;
}

.blue-theme .app-sider .app-menu .m-active,
.blue-theme .app-sider .app-menu .ant-menu-submenu-active {
  background: #faad14 !important;
}

.blue-theme .app-sider .ant-menu-submenu {
  padding: 3px 0;
}

.blue-theme .app-sider .app-menu .m-active a,
.blue-theme .app-sider .app-menu .ant-menu-submenu-active a{
  color: #fff;
}

.blue-theme .app-sider .app-menu li {
  margin-bottom: 0 !important;
}

.blue-theme .header-content {
  background: linear-gradient(90deg, #2fa2c1 0%, #23cddd 100%) !important;
}

.blue-theme .app-content .body-content {
  background: #f1f1f1 !important;
}

.blue-theme .app-content {
  background: #f1f1f1 !important;
}

.blue-theme .w5d-user-dropdown .ant-dropdown-menu .info {
  background: #23cddd !important;
}
