/* =======GREEN THEME=====*/

.green-theme .ant-btn-primary {
  color: #fff;
  background: #047a30;
  border-color: #047a30;
}

.green-theme .ant-btn-primary:hover,
.green-theme .ant-btn-primary:focus {
  color: #fff;
  background: #047a30;
  border-color: #047a30;
}

.green-theme aside.app-sider {
  background-image: -webkit-linear-gradient(45deg, #047a30 0%, #047a30 40%, #047a30 100%) !important;
}

.green-theme .app-sider .app-menu .m-active,
.green-theme .app-sider .app-menu .ant-menu-submenu-active {
  background: #047a30 !important;
}

.green-theme .header-content {
  background: #047a30 !important;
}

.green-theme .app-content .body-content {
  background: #f1f1f1 !important;
}

.green-theme .app-content {
  background: #f1f1f1 !important;
}

.green-theme .app-sider .app-menu .m-active {
  background: #ee4c1a !important;
}

.green-theme .ant-menu-submenu-open {
  background: #ee4c1a !important;
}

.green-theme .ant-menu-submenu-open .ant-menu-sub .ant-menu-item {
  background: #ee4c1a !important;
  margin-bottom: -4px !important;
}

.green-theme .w5d-user-dropdown .ant-dropdown-menu .info {
  background-color: #047a30 !important;
}
