/* =======GRAY THEME=====*/

.gray-theme .ant-btn-primary {
  color: #fff;
  background: #8b8988;
  border-color: #5b8988;
}

.gray-theme .ant-btn-primary:hover,
.gray-theme .ant-btn-primary:focus {
  color: #fff;
  background: #8b8988;
  border-color: #5b8988;
}

.gray-theme aside.app-sider {
  background-image: -webkit-linear-gradient(45deg, #8b8988 0%, #a89e97 40%, #8b8988 100%) !important;
}

.gray-theme .app-sider .app-menu .m-active,
.gray-theme .app-sider .app-menu .ant-menu-submenu-active {
  background: #8b8988 !important;
}

.gray-theme .header-content {
  background: #8b8988 !important;
}

.gray-theme .app-content .body-content {
  background: #f1f1f1 !important;
}

.gray-theme .app-content {
  background: #f1f1f1 !important;
}
