/* =======RED THEME=====*/

.red-theme .ant-btn-primary {
  color: #fff;
  background: #f04f05;
  border-color: #f94f05;
}

.red-theme .ant-btn-primary:hover,
.red-theme .ant-btn-primary:focus {
  color: #fff;
  background: #f04f05;
  border-color: #f94f05;
}

.red-theme aside.app-sider {
  background-image: -webkit-linear-gradient(45deg, #f04f05 0%, #e67327 40%, #f04f05 100%) !important;
}

.red-theme .app-sider .app-menu .m-active,
.red-theme .app-sider .app-menu .ant-menu-submenu-active {
  background: #f04f05 !important;
}

.red-theme .header-content {
  background: #f04f05 !important;
}

.red-theme .app-content .body-content {
  background: #f1f1f1 !important;
}

.red-theme .app-content {
  background: #f1f1f1 !important;
}
