.detail-user-page .ant-tabs-top {
  min-width: 100%;
}

.detail-user-page .ant-tabs-content {
  min-width: 100%;
  max-width: 100%;
}

.detail-user-page .ant-tabs-content-holder .chart-user {
  min-width: 100%;
  max-width: 100%;
}
.timelines .overview-bold {
  font-weight: bold;
  padding-left: 6px;
}

.timelines .overview-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 5px;
}
