.course-page {
  position: relative;
}

.course-page .app-main {
  padding: 0;
  padding-top: 25px;
}

.course-page .empty-chapters {
  padding-top: 15%;
}

.course-page .ant-empty-description {
  color: #888;
  font-size: 16px;
}


.course-page .ant-tabs-nav {
  display: none;
}

.course-page .ant-steps {
  max-width: 60%;
  margin: auto;
}

.course-page .lesson-content {
  height: 735px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  max-width: 90%;
  margin: auto;
}

.course-page .course-collapse {
  margin: 5px 15px;
}

.course-page .course-collapse .ant-collapse-header {
  background: #e6fffb;
  border: 0px solid #20b2aa;
}

.course-page .chapter-actions button {
  margin-left: 6px;
  padding: 0 10px;
}

.chapter-title {
  font-size: 16.5px;
  color: #1890ff;
}

.course-page .course-collapse>.ant-collapse-item {
  border-bottom: 1px solid #20b2aa;
}

.course-page .ant-collapse {
  border: 1px solid #20b2aa;
  border-bottom: 0;
}

.course-page .lesson-content .header-lesson {
  text-align: right;
  padding: 6px 15px;
}

.course-page .lesson-content table .free-lesson {
  font-size: 20px;
  color: green;
}

.course-page .lesson-content table .eco-lesson {
  font-size: 20px;
  color: #990000;
}

.lesson-actions button {
  margin: 0 5px;
  padding: 0;
  font-size: 18px;
}

.lesson-content-viewer .anticon {
  font-size: 18px;
  color: #1890ff;
}

.ant-popover-title {
  background: #1890ff;
  color: #fff;
  text-transform: capitalize;
}

.ant-popover-inner-content {
  max-width: 600px;
}


.course-page .lesson-content table td, .course-page .lesson-content table th {
  font-size: 16px;
  text-align: center;
}

.course-page .lesson-content table td.txt-left, .course-page .lesson-content table th.txt-left {
  font-size: 16px;
  text-align: left;
}



.course-page .body-content.ant-col {
  background: #fff !important;
  min-height: calc(100vh - 120px);
  overflow: scroll;
}

.open-editor .ant-col {
  position: static;
}

.open-editor .ant-row {
  position: static;
}

.open-editor .ant-form-item-control-input {
  position: static;
}

.footer-course {
  position: fixed;
  background: #fff;
  z-index: 999;
  left: 264px;
  right: 18px;
  height: 50px;
  bottom: 0;
  border-top: 6px solid #f1f1f1;
}

.footer-course .footer-action {
  text-align: right;
  padding: 3px 0px 0px 0px;
}

.footer-course .footer-action button {
  margin-right: 18px;
}

.course-page .lesson-list {
  height: 735px;
  overflow-x: hidden;
  overflow-y: auto;
}

.lesson-items .item {
  background-color: #fff;
  border: 1px solid #dfd4ff;
  min-height: 72px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  position: relative;
}

.lesson-items .item .anticon-close {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 999;
  color: red;
  font-weight: bolder;
  cursor: pointer;
}

.lesson-items .item.active {
  background-color: #f8f8f8;
  border: 1px solid #1890ff;
}

.lesson-items .item .header-lesson {
  font-weight: bold;
}

.lesson-items .item .header-lesson .point {
  color: #990000;
  font-weight: lighter;
}

.lesson-items .item .body-lesson {
  display: flex;
}

.lesson-items .item .body-lesson .answer-detail {
  flex: 1;
  text-align: center;
}

.footer-lesson {
  text-align: center;
}

.footer-lesson button {
  margin: 3px 6px;
}

.course-page .course-content-tabs .ant-tabs-nav {
  display: block;
}

.course-page .course-content-tabs .ant-tabs-nav-wrap {
  padding: 12px 12px 0 12px;
}

@media screen and (max-width: 1400px) {
  .course-page .lesson-content {
    height: 430px;
  }

  .course-page .lesson-list {
    height: 430px;
  }
}