/* =======app-library=====*/

.app-library .library-image-list .image-item {
  position: relative;
  height: 150px;
  overflow: hidden;
  margin-bottom: 10px;
}

.app-library .library-image-list .image-item .ant-image {
  height: 150px;
  overflow: hidden;
  width: 100%;
}

.app-library .library-image-list .image-item .ant-checkbox-wrapper {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 999;
}

.app-library .library-image-list .image-item .ant-checkbox-wrapper .ant-checkbox-inner {
  width: 25px;
  height: 25px;
}

.app-library .library-image-list .image-item .ant-checkbox-wrapper .ant-checkbox-inner::after {
  position: absolute;
  top: 40%;
  left: 32%;
}

.app-library .library-image-list .image-item img {
  max-width: 100%;
  width: 100%;
  min-height: 150px;
  height: auto;
  border-radius: 3px;
  border: 1px solid #eee;
  cursor: pointer;
}

.app-library .library-image-list .image-item img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.meta-image {
  padding: 0 20px;
}

.previewImage img {
  border: 2px solid #635aff !important;
}

.upload-imgs .itm img {
  cursor: pointer;
}

.upload-imgs .itm img:hover {
  opacity: 0.7;
}

.upload-imgs .itm button svg {
  color: red;
}

.folder-upload {
  width: 90%;
  padding: 15px 0;
}

.folder-upload svg {
  color: #f6c300;
  font-size: 20px;
}

.upload-dragger-box {
  padding-right: 10px;
  height: 200px;
}

.app-library .ant-empty {
  margin: auto;
}

.app-library .edit-delete-btn {
  padding: 10px 0;
}

.app-library .upload-btn {
  margin-bottom: 10px;
}

.app-library .upload-file-area {
  margin: auto;
  text-align: center;
}

.app-library .upload-file-area > span {
  width: 500px;
  display: block;
  height: 300px;
}

.library-page {
  background: #fff;
  min-height: 100vh;
}
