/* =======w5d-list=====*/

.w5d-list .ant-list-item .ant-col,
.w5d-list .ant-list-header .ant-col {
  padding: 0 12px;
}

.w5d-list .ant-list-header .ant-col,
.w5d-list .ant-list-footer .ant-col {
  font-weight: normal;
  text-transform: none;
}

.w5d-list .ant-list-item .actions {
  height: 23.5px;
  transition: 3s;
  transition: all 1s ease;
}

.w5d-list .ant-list-item .actions .act {
  text-transform: capitalize;
  padding-right: 0px;
  display: none;
  line-height: 10px;
}

.w5d-list .ant-list-item:hover .actions .act {
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
  padding-right: 15px;
}

.w5d-list .ant-list-item .actions .act:hover {
  text-decoration: underline;
}

.ant-list-split .ant-list-item:hover .actions .edit {
  color: #6a61bf;
}

.ant-list-split .ant-list-item:hover .actions .delete {
  color: red;
}

.ant-list-split .ant-list-item:hover .actions .view {
  color: green;
}

@media screen and (max-width: 1200px) {
  .w5d-list {
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 15px;
  }
  .w5d-list .ant-list {
    min-width: 1000px;
  }
}
